* {
	font-family: Verdana, sans-serif;
}

table {
	border: 0;
	width: 50%;
}

.table__banner {
	column-span: 2;
}

.table__banner__img {
	width: 100%;
}

.table__header {
	width: 30%;
	height: 200px;
	vertical-align: top;
	background-color: #eeeeee;
}

.table__exercice {
	width: 70%;
	vertical-align: top;
}

h2 {
	color: #003569;
}
